<div class="grids-container">
  <div class="grids-header-container">
    <div class="grids-header">
        Grids
    </div>
    <div class="refresh-control">
      <button mat-button extended color="primary" *ngIf="autoRefreshOn" (click)="turnOffAutoRefresh()" [ngStyle]="{'font-size': '0.9em'}">
        <mat-icon [ngStyle]="{'font-size': '18px', 'margin-right': '6px', 'vertical-align': 'middle'}">pause_circle_outline</mat-icon>
        turn off automatic refresh
      </button>
      <button mat-button extended color="primary" *ngIf="!autoRefreshOn" (click)="turnOnAutoRefresh()" [ngStyle]="{'font-size': '0.9em'}">
        <mat-icon [ngStyle]="{'font-size': '18px', 'margin-right': '6px', 'vertical-align': 'middle'}">play_circle_outline</mat-icon>
        turn on automatic refresh
      </button>
    </div>
  </div>
  <div class="grids-content">
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel *ngFor="let grid of gridsDescription; index as i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon [ngStyle]="{'color': '#80c904', 'margin-right': '15px', 'transform': 'scale(0.8)'}">check_circle</mat-icon>
              {{grid.Name}} [{{grid.Hosts.length}}]
            </mat-panel-title>
            <mat-panel-description>
              creation time: {{grid.CreationTimestamp}} | last update time: {{grid.LastUpdateTimestamp}}
              <button mat-icon-button (click)="$event.stopPropagation();" matTooltip="copy connection command: run_tests.py --grid {{grid.Name}}">
                <mat-icon>terminal</mat-icon>
              </button>
              <!-- <mat-icon [ngStyle]="{'transform': 'scale(0.8)'}">terminal</mat-icon> -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>

          <div class="hosts-table-container">
            <table mat-table [dataSource]="grid.Hosts" class="mat-elevation-z0 hosts-table">
              <!-- Hostname Column -->
              <ng-container matColumnDef="hostname">
                <th mat-header-cell *matHeaderCellDef> Hostname </th>
                <td mat-cell *matCellDef="let host"> {{host.Hostname}} </td>
              </ng-container>

              <!-- Cores Column -->
              <ng-container matColumnDef="cores">
                <th mat-header-cell *matHeaderCellDef> Cores </th>
                <td mat-cell *matCellDef="let host"> {{host.Cores}} </td>
              </ng-container>

              <!-- RAM Column -->
              <ng-container matColumnDef="ram">
                <th mat-header-cell *matHeaderCellDef> RAM </th>
                <td mat-cell *matCellDef="let host"> {{host.RAM}} </td>
              </ng-container>

              <!-- Creation Timestamp Column -->
              <ng-container matColumnDef="creationTimestamp">
                <th mat-header-cell *matHeaderCellDef> Creation Time </th>
                <td mat-cell *matCellDef="let host"> {{host.CreationTimestamp}} </td>
              </ng-container>

              <!-- Last Update Timestamp Column -->
              <ng-container matColumnDef="lastUpdateTimestamp">
                <th mat-header-cell *matHeaderCellDef> Last Update </th>
                <td mat-cell *matCellDef="let host"> {{host.LastUpdateTimestamp}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let host">
                    {{host.Status}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['hostname', 'cores', 'ram', 'creationTimestamp', 'lastUpdateTimestamp', 'status']"></tr>
              <tr mat-row *matRowDef="let host; columns: ['hostname', 'cores', 'ram', 'creationTimestamp', 'lastUpdateTimestamp', 'status'];"
                  [ngClass]="{'recent-update': isRecentUpdate(host.LastUpdateTimestamp), 'old-update': !isRecentUpdate(host.LastUpdateTimestamp)}">
              </tr>
            </table>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
  </div>
</div>
