obj/
.vs/
testfarmoutdir/
package-lock.json
node_modules/
.venv/
__pycache__/
*.secret
/Utils/dist
/Utils/testfarmutils.egg-info
/Adapters/VSTestAdapter/VSTestAdapter.UnitTests/bin
/Adapters/VSTestAdapter/VSTestAdapter/bin/Debug
