<div class="subtable-wrap" style="margin: 0;">
    <table class="subtable">
        <thead>
            <tr>
                <th style="text-align: left;">Run Name</th>
                <th>Status</th>
                <th>Execution Time</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entry of testHistory">
                <tr [ngClass]="{'expanded': entry.ShowDetails}">
                    <td style="text-align: left;">{{ entry.TestRunName }}</td>
                    <td>
                        <span class="test-status status-{{ entry.Status }}">{{ entry.Status }}</span>
                    </td>
                    <td style="white-space: nowrap;">{{ entry.ExecutionTime | date:'medium' }}</td>
                    <td>
                        <button mat-button color="primary" (click)="entry.ShowDetails = !entry.ShowDetails">
                            {{ entry.ShowDetails ? 'hide' : 'show' }}
                        </button>
                    </td>
                </tr>
                <tr *ngIf="entry.ShowDetails" class="expanded-details">
                    <td colspan="4" class="execution-output" style="padding: 0.75rem; text-align: left;">
                        <div [innerHTML]="entry.ExecutionOutput | consoleOutputToHtml"></div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
