<div class="nav-bar">
  <span class="logo-test">TEST</span><span class="logo-farm">FARM</span>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/builds" routerLinkActive="active" ariaCurrentWhenActive="page">Builds</a></li>
      <li><a routerLink="/repositories" routerLinkActive="active" ariaCurrentWhenActive="page">Repositories</a></li>
      <li><a routerLink="/tests" routerLinkActive="active" ariaCurrentWhenActive="page">Tests</a></li>
      <li><a routerLink="/benchmarks" routerLinkActive="active" ariaCurrentWhenActive="page">Benchmarks</a></li>
      <li><a routerLink="/groups" routerLinkActive="active" ariaCurrentWhenActive="page">Groups</a></li>
      <li><a routerLink="/grids" routerLinkActive="active" ariaCurrentWhenActive="page">Grids</a></li>
      <li><a routerLink="/runs" routerLinkActive="active" ariaCurrentWhenActive="page">Runs</a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
