<div class="artifacts-container">
    <!-- Artifact Definition Overview Section -->
    <div class="artifact-definition-overview" *ngIf="artifactDefinition">
      <div>
        <mat-icon>widgets</mat-icon>
      </div>
      <div>
        <div class="artifact-definition-name">{{artifactDefinition.Name}}</div>
        <div class="artifact-definition-id">Artifact Definition #{{artifactDefinition.Id}}</div>
      </div>
      <div>
        <mat-chip *ngFor="let tag of artifactDefinition.Tags" color="primary" selected>{{tag}}</mat-chip>
      </div>
    </div>

    <div class="artifacts-content">
      <div *ngIf="artifacts && artifacts.length > 0; else noArtifacts">
        <table class="artifacts-table" style="width: 100%;">
          <thead>
              <tr>
                  <th style="width: 1%; white-space: nowrap; padding: 5px; text-align: left;">ID</th>
                  <th style="white-space: nowrap; padding: 5px; text-align: center;">Name</th>
                  <th style="white-space: nowrap; padding: 5px; text-align: center;">Repository</th>
                  <th style="white-space: nowrap; padding: 5px; text-align: center;">Branch</th>
                  <th style="white-space: nowrap; padding: 5px; text-align: center;">Revision</th>
                  <th style="white-space: nowrap; padding: 5px; text-align: center;">Created</th>
                  <th style="white-space: nowrap; padding: 5px;">Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let artifact of artifacts"
                  class="repository-item"
                  (mouseover)="onMouseOver($event)"
                  (mouseout)="onMouseOut($event)" style="transition: background-color 0.3s;">
                  <td style="width: 1%; white-space: nowrap; padding: 5px; text-align: left;">{{artifact.Id}}</td>

                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                    <a [routerLink]="['/artifacts', artifact.Id]" class="run-link" style="text-decoration: none; color: #007bff; transition: color 0.3s;">
                      {{artifact.Name}}
                    </a>
                    <mat-chip *ngFor="let tag of artifact.Tags">{{tag}}</mat-chip>
                  </td>
                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                    {{artifact.Repository}}
                  </td>
                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                    {{artifact.Branch}}
                  </td>
                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                    {{artifact.Revision}}
                  </td>
                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                    {{artifact.CreationTimestamp | date:'medium'}}
                  </td>
                  <td style="white-space: nowrap; padding: 5px; text-align: center;">
                      <!-- <button mat-button color="primary" (click)="removeArtifact(artifact.Id)">
                        <mat-icon>delete</mat-icon>
                      </button> -->
                  </td>
              </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noArtifacts>
        <div class="no-artifacts" *ngIf="artifactDefinition">
          <mat-card>
            <mat-card-content>
              <p>No artifacts available for this definition.</p>
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </div>
</div>
